@import "tailwindcss";
@tailwind base;

@layer base {
    html, body {
        height: 100%;
    }

    body {
        background-color: rgba(255, 255, 255, 1);
    }

    #root {
        height: 100%;
    }

    form {
        color: #405443;
    }

    form input {
        border-color: #405443;
        border-width: thick;
        margin: 0.5em;
    }

    form input:focus {
        border-color: #cd663d;
        outline: none;
    }

    table {
        margin-bottom: 1em;
        margin-top: 1em;
        color: #405443;
        width: 100em;
        text-align: left;
    }
}

@tailwind components;
@tailwind utilities;

.custom-pagination .swiper-pagination-bullet {
    background-color: #9acfaf;
    opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: #4b7846;
}

.spinner-icon {
    width: 650px;
    height: 430px;
    animation: spin 1.5s linear infinite;
}