@import "tailwindcss";
@tailwind base;

body{
    @apply bg-gray-300
}

@tailwind components;
@tailwind utilities;

.custom-pagination .swiper-pagination-bullet {
    background-color: #9acfaf;
    opacity: 1;
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: #4b7846;
}

.spinner-icon {
    width: 650px;
    height: 430px;
    animation: spin 1.5s linear infinite;
}